## App configrations
APP_NAME=
APP_PORT=
APP_VERSION=
ENABLE_CONSOLE_OUTPUT=
REQUEST_MAX_SIZE_IN_MB=
FRONTEND_URL=

## JWT and password auths
SALT_ROUNDS=
JWT_SECRET=
JWT_EXPIRY_IN_MS=

## DB configuration
DB_PORT=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_AUTH_DB=
DB_REPL_SET=
DB_HOST_ARR=

## SMTP configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_SSL=

## CORS configuration
CORS_ALLOWED_DOMAIN=
