APP_NAME="MY APP"
NODE_ENV=development
PORT=8080
APP_EMAIL='bot@sampleapp.com'
APP_URL=http://localhost:8080
APP_LOGO=https://www.gravatar.com/avatar/011
APP_TIMEZONE='Asia/Kolkata'
APP_DATE_FORMAT='DD-MM-YYYY'
APP_TIME_FORMAT='HH:mm:ss'
APP_DATETIME_FORMAT='DD-MM-YYYY HH:MM:SS'
APP_DECIMAL_PLACES=2
APP_FILE_SIZE_LIMIT='10MB'
APP_TOKEN_SECRET='myappsecret'
APP_TOKEN_EXPIRE=2592000000         // 30 days